$check-color: rgb(35, 119, 247);
$cross-color: rgb(245, 84, 81);
$loader-size: 3em;
$check-height: calc($loader-size / 2);
$check-width: calc($check-height / 2);
$check-left: (calc($loader-size / 6) + calc($loader-size / 12));
$check-thickness: 3px;

.circle-loader {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-left-color: $check-color;
    position: absolute;
    animation: loader-spin 1s infinite linear;
    border-radius: 50%;
    width: $loader-size;
    height: $loader-size;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.load-complete {
    -webkit-animation: none;
    animation: none;
    transition: border 500ms ease-out;
}

.checkmark {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleY(-1) rotate(135deg);
    opacity: 1;
    height: $check-height;
    width: $check-width;
    display: block;
    border-left: $check-thickness solid $check-color;
    border-bottom: $check-thickness solid $check-color;
    margin-bottom: 7px;
    content: '';
}

.success {
    border-color: $check-color;
}

.failed {
    border-color: $cross-color;
}

.cross {
    width: 32px;
    height: 32px;
    position: relative;

    &:before,
    &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: $cross-color;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}


@keyframes loader-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes checkmark {
    0% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}