@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/SourceSansPro-Regular.ttf');
}

* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.pause {
    pointer-events: none;
}

.Toastify__toast-container{
    --toastify-toast-min-height: 20px;
    --toastify-toast-width: 230px;
    font-size: 15px;
}

.Toastify__toast-container--top-right{
    top: 3.5em !important;
}