@font-face {
    font-family: 'Source Sans Pro';
    src: url('./fonts/SourceSansPro-Regular.ttf');
}

:root{
    --max-width: 1000px;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-width: 1000px;
}

#main{
    max-width: var(--max-width);
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.Toastify__toast-container {
    --toastify-toast-min-height: 20px;
    --toastify-toast-width: auto;
    font-size: 15px;
}

.Toastify__toast-container--top-right {
    top: 3.5em !important;
}