$lineWidth: 2.3px;
$lineColor: rgb(0, 0, 0);

.wrapper{
    padding: 5px;
    border: 0.5px solid rgb(15, 13, 13);
    width: 860px;
    height: 540px;
    margin: 0 auto;
}

.status-block{
    border: 0.5px solid rgb(15, 13, 13);
    margin-top: 2px;
    padding: 3px;
    height: 5%;
}

.game-body{
    display: flex;
    height: 500px;
    margin-top: 5px;
    padding: 0;
}

.config-block{
    border: 0.5px solid rgb(15, 13, 13);
    display: inline-block;
    margin-left: 3px;
    flex: 1;
}

.playground{
    flex-direction: column;
    margin-right: 3px;
    width: 495px;
    height: 495px;
    display: flex;
}

.row{
    display: flex;
    flex: 1;
    padding: 0;
    margin: 0;
}

.cell{
    border: 0.5px solid rgb(205,214,225);
    text-align: center;
    padding: 10px;
    flex: 1;
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    user-select: none;
    outline: none;
    color: transparent;
    text-shadow:0 0 0 black;
    cursor: default;
}


.line-left{
    border-left: $lineWidth solid $lineColor;
}

.line-top{
    border-top: $lineWidth solid $lineColor;
}

.line-bottom{
    border-bottom: $lineWidth solid $lineColor;
}

.line-right{
    border-right: $lineWidth solid $lineColor;
}