.sudoku {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #game-body {
        max-width: 1000px;
        height: 100%;
        width: 100%;
        display: flex;
        margin-bottom: 8px;
        justify-content: flex-start;
        gap: 10px;

        &.freeze {

            .control-items,
            #numpad,
            #grid {
                pointer-events: none;
                opacity: 0.5;
            }

            .cell {
                pointer-events: none;
                background-color: white !important;
            }

            &.loading,
            &.pause {
                .cell * {
                    display: none;
                }
            }

            &.failed {
                .cell {
                    background-color: rgb(251, 235, 235) !important;
                }
            }

            &.success {
                .cell {
                    background-color: rgb(245, 250, 254) !important;
                }
            }

        }
    }

    @media all and (max-width: 770px) {
        #game-body {
            flex-direction: column;
            align-items: center;
        }

        .auto-check {
            .text {
                font-size: 11px;
            }
        }

        .control {
            flex-direction: column-reverse;
            width: 95%;

            .new-game {
                button {
                    padding: 12px;
                }
            }


            .control-items {
                justify-content: space-between;
                order: 1;
            }

            #numpad {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 0;
                margin-bottom: 5px;

                .numpad-item {
                    color: #0072E3;
                    border-radius: 5%;
                    font-size: 45px;
                    user-select: none;
                    cursor: pointer;
                    background-color: white;

                    &:hover {
                        background-color: none;
                    }
                }
            }


        }
    }

    @media all and (max-width: 490px) {
        .game-info * {
            font-size: 0.7rem;
        }

        #board {
            --board-size: 98vw;
        }
    }
}