.sudoku {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #game-body {
        max-width: 1000px;
        height: 100%;
        width: 100%;
        display: flex;
        margin-bottom: 8px;
        justify-content: flex-start;
        gap: 10px;

        &.freeze {

            .control-items,
            #numpad,
            #grid {
                pointer-events: none;
                opacity: 0.5;
            }

            .cell,
            .cell * {
                pointer-events: none;
                background-color: white !important;
            }

            .cell * {
                display: none;
            }

        }
    }

    @media all and (max-width: 770px) {
        #game-body {
            flex-direction: column;
            align-items: center;
        }

        .control {
            flex-direction: column-reverse;
            width: 90%;

            .new-game {
                button {
                    padding: 12px;
                }
            }

            .control-items {
                justify-content: space-between;
                order: 1;
            }

            #numpad {
                display: flex;
                justify-content: space-between;
                width: 100%;

                .numpad-item {
                    color: #0072E3;
                    border-radius: 5%;
                    font-size: 60px;
                    user-select: none;
                    cursor: pointer;
                    background-color: white;

                    &:hover {
                        background-color: none;
                    }
                }
            }


        }
    }

    @media all and (max-width: 490px) {
        .game-info * {
            font-size: 0.75rem;
        }

        #board{
            --board-size: 98vw;
        }
    }
}